* {
  margin: 0%;
  padding: 0%;
}

.header-top {
  background-color: #3d3c3c;
}

.header-top .container .row .socialmedia ul li a:hover {
  color: white;
}

.header-top .container .row .socialmedia ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: #878585;
}

.header-top .container .row .icons ul li a:hover {
  color: #e96b56;
}

.header-top .container .row .icons ul li a {
  margin-right: 50px;
  text-decoration: none;
  color: white;
}

.header-top .container .row .icons ul li a i {
  color: #e96b56;
}

.header-bottom .container .row .logo h2 {
  border-left: 10px solid #e96b56;
}

.header-bottom .container .row .navbar ul li {
  margin: 16px;
}

.header-bottom .container .row .navbar ul li a:hover {
  color: #e96b56;
}

.header-bottom .container .row .navbar ul li a {
  text-decoration: none;
  margin-bottom: 50px;
  color: #444444;
}

#home {
  background-color: whitesmoke;
}

#home .container .row .logo h6 a {
  text-decoration: none;
  color: #e96b56;
}

#cards .container .row .maincard .box {
  width: 400px;
  height: 350px;
  border: solid 1px #dfd2d2;
  -webkit-transition: .3s;
  transition: .3s;
}

#cards .container .row .maincard .box:hover {
  background-color: #e96b56;
}

#cards .container .row .maincard .box:hover .basket .icon {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#cards .container .row .maincard .box:hover .basket .icon i {
  color: #e96b56;
}

#cards .container .row .maincard .box:hover .title h4 {
  color: white;
}

#cards .container .row .maincard .box:hover .text p {
  color: white;
}

#cards .container .row .maincard .box .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cards .container .row .maincard .box .basket .icon {
  -webkit-box-shadow: #ecb9b0 -5px 5px;
          box-shadow: #ecb9b0 -5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #e96b56;
  border-radius: 8px;
}

#cards .container .row .maincard .box .basket .icon i {
  font-size: 25px;
  color: white;
  -webkit-box-shadow: black;
          box-shadow: black;
}

#cards .container .row .maincard .box .basket .title h4 {
  text-align: center;
}

#cards .container .row .maincard .box .basket .text p {
  text-align: center;
}

#cards .container .row .progress {
  margin: 50px 0 0 0;
}

#cards .container .row .skills h2 {
  border-bottom: 4px solid #e96b56;
}

#about {
  background-color: #404040;
}

#about .container .row .links i {
  font-size: 20px;
  color: #e1dcdc;
}

#about .container .row .links i:hover {
  color: #e96b56;
}

#about .container .row .links h6 {
  color: #e96b56;
}

#about .container .row .links h4 {
  color: white;
}

#about .container .row .links p {
  color: white;
}

#about .container .row .links p a {
  text-decoration: none;
  color: white;
}

#about .container .row .links p a i {
  color: #e96b56;
}

#about .searcharea {
  padding: 30px;
}

#about .searcharea .row .newsletter {
  color: white;
}

#about .searcharea .row .search form {
  background: white;
  padding: 10px;
  position: relative;
  border-radius: 50px;
}

#about .searcharea .row .search form .inp {
  border: white;
  padding: 0 50px;
}

#about .searcharea .row .search form .sub {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: white;
  border-radius: 50px;
}

#about .container .row p {
  color: white;
}

#about .container .row .khalitov {
  color: #e96b56;
}

#slider .carousel-inner {
  position: relative;
}

#slider .carousel-inner .info {
  position: absolute;
  bottom: 30%;
}

#slider .carousel-inner .info button {
  width: 15%;
  margin: 20px;
  background-color: #e96b56;
  padding: 8px;
}

#slider .carousel-inner .info button:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#slider .carousel-inner .carousel-item {
  height: 60vh;
  width: 100%;
}

#slider .carousel-inner .carousel-item img {
  opacity: 70%;
}

#slider .carousel-inner h2 {
  color: black;
  font-weight: 500;
  font-size: 60px;
  margin: 15px;
}

#slider .carousel-inner p {
  color: #444444;
  font-size: 18px;
}

.container .row .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5%;
}

.container .row .card:hover {
  background-color: #e96b56;
  -webkit-transition: 1s;
  transition: 1s;
}

.container .row .card:hover .card-body i {
  color: white;
}

.container .row .card:hover .card-body h5 {
  color: white;
}

.container .row .card:hover .card-body p {
  color: white;
}

.container .row .card .card-body i {
  font-size: 30px;
  color: #e96b56;
}

.container .row .card .card-body h5 {
  font-weight: 700;
  color: #545454;
}

.container .row .card .card-body h5 p {
  color: #545454;
}

.container .row .aboutus {
  color: #545454;
}

.container .row .aboutus .ulamco {
  font-size: 17px;
}

.container .row .aboutus .icon {
  color: #e96b56;
  font-size: 20px;
}

.container .row body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.container .row .slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.container .row .slider .slide-track {
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.container .row .slider .slide {
  height: 100px;
  width: 250px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */