*{
    margin: 0%;
    padding: 0%;
}
.header-top {
    background-color: rgb(61, 60, 60);

    .container {
        .row {
            .socialmedia {
                ul {
                    li {
                        a:hover{
                            color: white;
                        }
                        a {
                            margin-right: 10px;
                            text-decoration: none;
                            color: rgb(135, 133, 133);

                            

                        }
                    }
                }
            }

            .icons {
                ul {
                    li {
                        a:hover {
                            color: #e96b56;
                        }

                        a {
                            margin-right: 50px;
                            text-decoration: none;
                            color: white;
                            i {
                                color: #e96b56;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-bottom {
    .container {
        .row {
            .logo {
                h2 {
                    border-left: 10px solid #e96b56;
                }
            }
            .navbar {
                ul {
                    li {

                        margin: 16px;
                        a:hover{
                            color: #e96b56;
                        }
                        a {
                            text-decoration: none;
                            margin-bottom: 50px;
                            color: #444444;
                            
                        }
                    }
                }
            }
        }
    }
}
#home{
    background-color: whitesmoke;
    .container{
        .row{
            .logo{
                h6{
                    a{
                        text-decoration: none;
                    color: #e96b56;
                    }
                }
            }
        }
    }
}
// #cards{
//     .container{
        
//             .row{
//                 .maincard{
//                     .box{
//                         height: 300px;
//                         box-sizing: border-box;
//                         justify-content: space-between;
//                         text-align: center;
//                     }
//                 }
                
//             }
        
        
//     }    
// }
#cards{
    .container{
        .row{
            .maincard{
                .box{
                    width: 400px;
                    height: 350px;
    
                    border: solid 1px rgb(223, 210, 210);
                    transition: .3s;
                    &:hover{
                        background-color: #e96b56;
                        .basket{
                            .icon{
                                
                                background-color: white;
                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                                i{
                                    color: #e96b56;
                                }
                            }
                            
                        }
                        .title{
                            h4{
                                color: white;
                            }
                        }
                        .text{
                            p{
                                color: white; 
                            }
                        }
                    }
                    .basket{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .icon{
                            box-shadow: #ecb9b0 -5px 5px;
                            display: flex;
                            align-items: center ;
                            justify-content: center ;
                            width: 70px;
                            height: 70px;
                            background-color: #e96b56;
                            border-radius: 8px;
                            i{
                                font-size: 25px;
                                color: white;
                                box-shadow: black ;
        
                            }
                        }
                        .title{
                            h4{
                                text-align: center;
                            }
                        }
                        .text{
                            p{
                                text-align: center ;
                            }
                        }
                    }
                }
            }
            
           
        }
    }
    .container{
        .row{
            .progress{
                margin: 50px 0 0 0;
            }
            .skills{
                h2{
                    border-bottom: 4px solid #e96b56;
                }
            }
           
        }
    }
    

}
#about{
    background-color: #404040;
    .container{
        .row{
            .links{
                i{
                    font-size: 20px;
                    color: rgb(225, 220, 220);
                    
                    &:hover{
                        color: #e96b56;
                    }
                }
                h6{
                    color: #e96b56;
                }
                h4{
                    color: white;
                }
                p{
                    color: white;
                    a{
                        text-decoration: none;
                        color: white;
                        i{
                            color: #e96b56;
                        }
                    }
                }
            }
        }
    }
    .searcharea{
        padding: 30px;
        .row{
            .newsletter{
                color: white;
            }
            .search{
                form{
                    background: white;
                    padding:  10px;
                    position: relative;
                    border-radius: 50px;
                    .inp{
                        border: white;
                        padding:0 50px;
                    }
                    .sub{
                        
                        position: absolute;
                         top: 0;
                         right: 0;
                         bottom: 0;
                         border: 0;
                         background: none;
                         font-size: 16px;
                         padding: 0 30px;
                         margin: 3px;
                         background: #e96b56;
                         color: white;
                         border-radius: 50px;
                        
                    }

                }
            }
        }
    }
    .container{
        .row{
            p{
                color: white;
            }
            .khalitov{
                color: #e96b56;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    
  }